.main-title {
    font-size: 200px;
    margin-top: 180px;
    font-weight: 400;
    z-index: 97;
    color: #000;
    line-height: 1.2;
}

#second-title-anime {
    margin-top: 0;
}

.opac {
    animation: fade 3s linear;
}

@keyframes fade
{
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.mar {
    margin-top: 370px;
}

.pad {
    padding: 115px 0 115px 0;
    color: #000 !important;
}

.swiper-container {
    width: 50%;
    height: 55%;
    animation: key 6s linear;
}

@keyframes key
{
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(0.3);
    }
    75% {
        transform: scale(0.5);
    }
    90% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.color-g {
    color: #9ebdae;
}

.link-about {
    text-decoration: none;
    font-size: 26px;
    line-height: 1;
    color: #000000;
  
    &:after {
      content: "";
      width: 65px;
      height: 3px;
      background-color: #000;
      display: block;
      transition: 0.8s;
    }
  
    &:hover:after {
      width: 1px;
      height: 3px;
      transition: 0.8s;
      visibility: hidden;
    }
}

.title-project {
    font-size: 120px;
    transition: 0.5s;

    &:hover {
        color: #c3c0bd;
        cursor: pointer;
        
    }
}

.text-project {
    color: #afaead;
    font-size: 30px;
    font-family: 'Darker Grotesque', sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: 1;
}